.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background: rgba(59, 181, 216, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo img {
  width: 80px;
  height: auto;
}

.profile-section {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-right: 10vw;
}