html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(189, 233, 245);
  background-color: rgb(7, 44, 104);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-y: auto;   /* Allow vertical scroll */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(59, 181, 216, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  max-width: 400px;
  margin: 5px auto;
  margin-top: 5vh;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.form h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: rgb(189, 233, 245);
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(76, 183, 213);
  border-radius: 8px;
  font-size: 16px;
}

.form-link {
  align-self: flex-start;
  margin-top: 20px;
}

#bg-c {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/background3.PNG");
  background-position: center;
}

.button {
  font-size: 16px;
  color: white;
  background-color: rgba(2, 22, 51, 1);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: none;
  font-weight: normal;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background-color: rgb(76, 183, 213);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.box {
  color: rgb(0, 0, 0);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  background: rgba(59, 181, 216, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
  max-width: 600px;
  margin: 30px auto;
  margin-top: 5vh;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.error-message {
  color: #b30609;
  margin-top: 10px;
  font-weight: bold;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/background3.PNG");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.hero-content {
  max-width: 600px;
  background: rgba(59, 181, 216, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-button {
  font-size: 16px;
  padding: 12px 25px;
  border-radius: 8px;
  background-color: rgba(2, 22, 51, 1);
  color: white;
  transition: background-color 0.3s;
  text-decoration: none;
}

.hero-button:hover {
  background-color: rgb(76, 183, 213);
}

.section {
  padding: 50px 20px;  /* Adjust padding to maintain balance */
  text-align: center;
  min-height: 50vh;  /* Set the minimum height to half of the viewport */
  box-sizing: border-box;  /* Ensure padding doesn't affect the height */
  overflow: hidden;  /* Prevent content from overflowing into the next section */
  display: flex;  /* Enable flexbox */
  flex-direction: column;  /* Stack content vertically */
  justify-content: center;  /* Center content vertically */
  align-items: center;  /* Center content horizontally */
}

.section-hero {
  background-color: rgb(6, 45, 107);
  color: rgb(189, 233, 245);
  height: 70vh;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40vw; 
}

.section-why {
  background-color: rgb(13, 81, 100);
  color: rgb(189, 233, 245);
  height: 70vh;
}

.section-about {
  background-color: rgba(26, 173, 214);
  color: rgb(2, 22, 51);
  height: 70vh;
}

.highlight {
  background: linear-gradient(90deg, rgba(26, 173, 214), #a9c7f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-content {
  max-width: 500px;
  text-align: left;
  padding: 32px;
  padding-left: 24px;
  padding-right: 24px; 
  border: 1.5px solid;
}

.section h1, .section h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.section p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.icon-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
 
}

/* On medium screens and up, row layout */
@media (min-width: 500px) {
  .info-inner {
    flex-direction: row;
    justify-content: space-between;
  }
}


.info-image img {
  width: 60%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  max-height: 300px;
}

/* For medium screens and larger (768px and up) */
@media (min-width: 768px) {
  .info-image {
    width: 60%;
  }
}

/* Default styles */
.info-text {
  width: 100%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px; 
  padding-left: 24px;
  padding-right: 24px; 
}

/* For small screens and up (sm) */
@media (min-width: 640px) {
  .info-text {
    padding-left: 40px; 
    padding-right: 40px; 
  }
}

/* For medium screens and up (md) */
@media (min-width: 768px) {
  .info-text {
    width: 50%; 
    padding-left: 80px;
    padding-right: 80px;
  }
}