.question {
    font-size: large;
    margin-bottom: 10px;
    color: rgb(189, 233, 245);
}

.answers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 10px;
    justify-content: center;
}

.answer-button {
    flex: 1 1 calc(40% - 10px);
    max-width: calc(40% - 10px);
}

.answer-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.correct {
    background-color: #41a17f;
    color: white;
    border-color: #41a17f;
}

.incorrect {
    background-color: #f23224;
    color: white;
    border-color: #f23224;
}

.highlight-correct {
    border: 6px solid #41a17f;
}

.answer-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}