.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(31, 30, 30, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    color: white;
    background: rgba(59, 181, 216, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 1rem;
}

.modal-content button {
    padding: 10px 20px;
    border: none;
    background-color: rgba(2, 22, 51, 1);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.modal-content button:hover {
    background-color: rgb(76, 183, 213);
}